#include "resource.h"

IDI_ICON ICON "comonitor.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
	BEGIN
	  VALUE "CompanyName", "ACE"
	  VALUE "FileDescription", "Com-port devices monitoring tool"
	  VALUE "FileVersion", "1.0"
	  VALUE "InternalName", "Comonitor"
	  VALUE "LegalCopyright", "ACE email:ace@imlazy.ru"
	  VALUE "OriginalFilename", "comonitor.exe"
	  VALUE "ProductName", "Comonitor"
	  VALUE "ProductVersion", "1.0"
	END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END

IDR_MENU MENU
BEGIN
  POPUP "Dummy Popup"
  BEGIN
    MENUITEM "&About", ID_ABOUT
	MENUITEM "E&xit", ID_EXIT
  END
END
